![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [2]:
#Escribe el título del proyecto en Markdown
titulo = "Análisis comparativo de la Fórmula 1: Dominio de equipos y pilotos (2015-2024)"

### TEMA

In [3]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Este proyecto compara los equipos de Fórmula 1 entre 2015 y 2024. El objetivo principal es analizar la evolución del rendimiento de los equipos a lo largo de estos años y, mediante este análisis, validar o refutar las hipótesis planteadas. " \
"El objetivo es comparar el periodo de dominio de Mercedes y Red Bull, identificando los cambios en el panorama competitivo de la Fórmula 1 durante la última década." \
" Además, el proyecto analiza la evolución individual de los pilotos Max Verstappen y Lewis Hamilton a lo largo de estos 10 años, con una comparación detallada de los primeros 5 años de la carrera de cada uno, para determinar quién tuvo el inicio más prometedor."

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [4]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "La escudería Mercedes fue superior a Red Bull en la Fórmula 1 desde 2015 hasta 2021, y desde 2021 Red Bull ha dominado el campeonato."

In [5]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "Max Verstappen tuvo el mejor año de un piloto en la Fórmula 1 en la temporada 2023, en términos de puntos y victorias."
hipotesis_3 = "Lewis Hamilton tuvo un mejor inicio de carrera (primeros 5 años) que Max Verstappen, considerando puntos obtenidos y victorias conseguidas."
# hipotesis_4 = ""
# hipotesis_5 = ""
# ...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [6]:
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import pandas as pd
pd.set_option("display.max_rows", 500)

df_1 = pd.DataFrame()
fuente_1 = ""

In [7]:
df_races = pd.read_csv(r'C:\Users\Renan Muniz\Online_Env\REPO_TEST\ONLINE_DS_THEBRIDGE_RENAN_MUNIZ\bootcamp_renan\EDA PROJECT\archive (2)\races.csv')
df_results = pd.read_csv(r'C:\Users\Renan Muniz\Online_Env\REPO_TEST\ONLINE_DS_THEBRIDGE_RENAN_MUNIZ\bootcamp_renan\EDA PROJECT\archive (2)\results.csv')
df_drivers = pd.read_csv(r'C:\Users\Renan Muniz\Online_Env\REPO_TEST\ONLINE_DS_THEBRIDGE_RENAN_MUNIZ\bootcamp_renan\EDA PROJECT\archive (2)\drivers.csv')
df_constructors = pd.read_csv(r'C:\Users\Renan Muniz\Online_Env\REPO_TEST\ONLINE_DS_THEBRIDGE_RENAN_MUNIZ\bootcamp_renan\EDA PROJECT\archive (2)\constructors.csv')

In [8]:
df_rrc = df_results.merge(df_races, on='raceId', how='left') \
                      .merge(df_constructors, on='constructorId', how='left')
df_rrc

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,constructorRef,name_y,nationality,url_y
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,18,2,2,3,5,2,2,2,8.0,...,\N,\N,\N,\N,\N,\N,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,18,3,3,7,7,3,3,3,6.0,...,\N,\N,\N,\N,\N,\N,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,18,4,4,5,11,4,4,4,5.0,...,\N,\N,\N,\N,\N,\N,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,\N,\N,\N,\N,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26754,26760,1144,825,210,20,14,16,16,16,0.0,...,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
26755,26761,1144,859,215,30,12,17,17,17,0.0,...,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team
26756,26762,1144,822,15,77,9,\N,R,18,0.0,...,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N,sauber,Sauber,Swiss,http://en.wikipedia.org/wiki/Sauber_Motorsport
26757,26763,1144,861,3,43,20,\N,R,19,0.0,...,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
26758,26764,1144,815,9,11,10,\N,R,20,0.0,...,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing

In [9]:
df_rrc = df_rrc[[ 'raceId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'year', 'round', 'circuitId', 'name_x',
       'date', 'time_y','constructorRef', 'name_y', 'nationality']]

In [10]:
# DF de constructores entre los años 2015 y 2024 
df_15_24 = df_rrc[df_rrc.year >= 2015]
df_15_24

,raceId,number,grid,position,positionText,positionOrder,points,year,round,circuitId,name_x,date,time_y,constructorRef,name_y,nationality
22534,926,44,1,1,1,1,25.0,2015,1,1,Australian Grand Prix,2015-03-15,05:00:00,mercedes,Mercedes,German
22535,926,6,2,2,2,2,18.0,2015,1,1,Australian Grand Prix,2015-03-15,05:00:00,mercedes,Mercedes,German
22536,926,5,4,3,3,3,15.0,2015,1,1,Australian Grand Prix,2015-03-15,05:00:00,ferrari,Ferrari,Italian
22537,926,19,3,4,4,4,12.0,2015,1,1,Australian Grand Prix,2015-03-15,05:00:00,williams,Williams,British
22538,926,12,10,5,5,5,10.0,2015,1,1,Australian Grand Prix,2015-03-15,05:00:00,sauber,Sauber,Swiss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26754,1144,20,14,16,16,16,0.0,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,haas,Haas F1 Team,American
26755,1144,30,12,17,17,17,0.0,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,rb,RB F1 Team,Italian
26756,1144,77,9,\N,R,18,0.0,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,sauber,Sauber,Swiss
26757,1144,43,20,\N,R,19,0.0,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,williams,Williams,British
26758,1144,11,10,\N,R,20,0.0,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,red_bull,Red Bull,Austrian

In [11]:
#DF organizado por año, nombre y puntos de las empresas constructoras entre 2015 y 2024.
df_y_n = df_15_24.groupby(['year', 'name_y'])
df_points_per_year = df_y_n[['points']].sum()
df_points_per_year

                     points
year name_y
2015 Ferrari          428.0
     Force India      136.0
     Lotus F1          78.0
     Manor Marussia     0.0
     McLaren           27.0
     Mercedes         703.0
     Red Bull         187.0
     Sauber            36.0
     Toro Rosso        67.0
     Williams         257.0
2016 Ferrari          398.0
     Force India      173.0
     Haas F1 Team      29.0
     Manor Marussia     1.0
     McLaren           76.0
     Mercedes         765.0
     Red Bull         468.0
     Renault            8.0
     Sauber             2.0
     Toro Rosso        63.0
     Williams         138.0
2017 Ferrari          522.0
     Force India      187.0
     Haas F1 Team      47.0
     McLaren           30.0
     Mercedes         668.0
     Red Bull         368.0
     Renault           57.0
     Sauber             5.0
     Toro Rosso        53.0
     Williams          83.0
2018 Ferrari          571.0
     Force India      111.0
     Haas F1 Team      93.0
     McLaren           62.0
     Mercedes         655.0
     Red Bull         419.0
     Renault          122.0
     Sauber            48.0
     Toro Rosso        33.0
     Williams           7.0
2019 Alfa Romeo        57.0
     Ferrari          504.0
     Haas F1 Team      28.0
     McLaren          145.0
     Mercedes         739.0
     Racing Point      73.0
     Red Bull         417.0
     Renault           91.0
     Toro Rosso        85.0
     Williams           1.0
2020 Alfa Romeo         8.0
     AlphaTauri       107.0
     Ferrari          131.0
     Haas F1 Team       3.0
     McLaren          202.0
     Mercedes         573.0
     Racing Point     210.0
     Red Bull         319.0
     Renault          181.0
     Williams           0.0
2021 Alfa Romeo        13.0
     AlphaTauri       142.0
     Alpine F1 Team   155.0
     Aston Martin      77.0
     Ferrari          322.5
     Haas F1 Team       0.0
     McLaren          274.0
     Mercedes         604.5
     Red Bull         578.5
     Williams          23.0
2022 Alfa Romeo        53.0
     AlphaTauri        35.0
     Alpine F1 Team   170.0
     Aston Martin      55.0
     Ferrari          519.0
     Haas F1 Team      33.0
     McLaren          150.0
     Mercedes         495.0
     Red Bull         724.0
     Williams           8.0
2023 Alfa Romeo        16.0
     AlphaTauri        22.0
     Alpine F1 Team   110.0
     Aston Martin     266.0
     Ferrari          363.0
     Haas F1 Team       9.0
     McLaren          266.0
     Mercedes         374.0
     Red Bull         790.0
     Williams          26.0
2024 Alpine F1 Team    63.0
     Aston Martin      94.0
     Ferrari          595.0
     Haas F1 Team      51.0
     McLaren          609.0
     Mercedes         433.0
     RB F1 Team        40.0
     Red Bull         537.0
     Sauber             4.0
     Williams          17.0

In [12]:
df_rrd = df_results.merge(df_races, on='raceId', how='left') \
                      .merge(df_drivers, on='driverId', how='left')
df_rrd

,resultId,raceId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,points,...,sprint_date,sprint_time,driverRef,number_y,code,forename,surname,dob,nationality,url_y
0,1,18,1,1,22,1,1,1,1,10.0,...,\N,\N,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,18,2,2,3,5,2,2,2,8.0,...,\N,\N,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,18,3,3,7,7,3,3,3,6.0,...,\N,\N,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,18,4,4,5,11,4,4,4,5.0,...,\N,\N,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,18,5,1,23,3,5,5,5,4.0,...,\N,\N,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26754,26760,1144,825,210,20,14,16,16,16,0.0,...,\N,\N,kevin_magnussen,20,MAG,Kevin,Magnussen,1992-10-05,Danish,http://en.wikipedia.org/wiki/Kevin_Magnussen
26755,26761,1144,859,215,30,12,17,17,17,0.0,...,\N,\N,lawson,30,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson
26756,26762,1144,822,15,77,9,\N,R,18,0.0,...,\N,\N,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
26757,26763,1144,861,3,43,20,\N,R,19,0.0,...,\N,\N,colapinto,43,COL,Franco,Colapinto,2003-05-27,Argentinian,http://en.wikipedia.org/wiki/Franco_Colapinto
26758,26764,1144,815,9,11,10,\N,R,20,0.0,...,\N,\N,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez

In [13]:
df_rrd.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number_x', 'grid',
       'position', 'positionText', 'positionOrder', 'points', 'laps', 'time_x',
       'milliseconds', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'year', 'round', 'circuitId', 'name',
       'date', 'time_y', 'url_x', 'fp1_date', 'fp1_time', 'fp2_date',
       'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time',
       'sprint_date', 'sprint_time', 'driverRef', 'number_y', 'code',
       'forename', 'surname', 'dob', 'nationality', 'url_y'],
      dtype='object')

In [14]:
df_rrd = df_rrd[[ 'grid','positionOrder', 'points', 'rank', 
       'year', 'round', 'name',
       'forename', 'surname', 'nationality']]

In [15]:
df_year = df_rrd[df_rrd['year'] >= 2015]
df_max_ham_per_race = df_year[(df_year['forename'] == 'Max') | (df_year['forename'] == 'Lewis')]

In [65]:
df_max_ham_per_race['wins'] = df_max_ham_per_race['positionOrder'] == 1
df_max_ham_per_race['wins'].sum()

C:\Users\Renan Muniz\AppData\Local\Temp\ipykernel_29316\2870399668.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_max_ham_per_race['wins'] = df_max_ham_per_race['positionOrder'] == 1

np.int64(135)

In [63]:
df_max_ham_total = df_max_ham_per_race.groupby(['year', 'forename', 'surname']).agg({
    'points': 'sum',
    'wins': 'sum'
}).reset_index()

df_max_ham_total

    year forename     surname  points  wins
0   2015    Lewis    Hamilton   381.0    10
1   2015      Max  Verstappen    49.0     0
2   2016    Lewis    Hamilton   380.0    10
3   2016      Max  Verstappen   204.0     1
4   2017    Lewis    Hamilton   363.0     9
5   2017      Max  Verstappen   168.0     2
6   2018    Lewis    Hamilton   408.0    11
7   2018      Max  Verstappen   249.0     2
8   2019    Lewis    Hamilton   413.0    11
9   2019      Max  Verstappen   278.0     3
10  2020    Lewis    Hamilton   347.0    11
11  2020      Max  Verstappen   214.0     2
12  2021    Lewis    Hamilton   385.5     8
13  2021      Max  Verstappen   388.5    10
14  2022    Lewis    Hamilton   233.0     0
15  2022      Max  Verstappen   433.0    15
16  2023    Lewis    Hamilton   217.0     0
17  2023      Max  Verstappen   530.0    19
18  2024    Lewis    Hamilton   207.0     2
19  2024      Max  Verstappen   399.0     9

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [74]:
df_rrd['wins'] = df_rrd['positionOrder'] == 1
df_rrd['wins'].sum()

np.int64(1128)

In [80]:
df_max = df_rrd[((df_rrd['forename']== 'Max') & ((df_rrd['year'] >= 2015) & (df_rrd['year'] < 2020 )))]

vers = df_max.groupby(['year', 'forename', 'surname']).agg({
    'points': 'sum',
    'wins': 'sum'
}).reset_index() 

vers

   year forename     surname  points  wins
0  2015      Max  Verstappen    49.0     0
1  2016      Max  Verstappen   204.0     1
2  2017      Max  Verstappen   168.0     2
3  2018      Max  Verstappen   249.0     2
4  2019      Max  Verstappen   278.0     3

In [85]:
df_ham = df_rrd[((df_rrd['forename']== 'Lewis') & ((df_rrd['year'] >= 2007) & (df_rrd['year'] < 2012 )))]

ham = df_ham.groupby(['year', 'forename', 'surname']).agg({
    'points': 'sum',
    'wins': 'sum'
}).reset_index() 

ham

   year forename   surname  points  wins
0  2007    Lewis  Hamilton   109.0     4
1  2008    Lewis  Hamilton    98.0     5
2  2009    Lewis  Hamilton    49.0     2
3  2010    Lewis  Hamilton   240.0     3
4  2011    Lewis  Hamilton   227.0     3

DATA FRAMES

In [92]:
# Primer dataset
df_points_per_year.head(20)

                     points
year name_y
2015 Ferrari          428.0
     Force India      136.0
     Lotus F1          78.0
     Manor Marussia     0.0
     McLaren           27.0
     Mercedes         703.0
     Red Bull         187.0
     Sauber            36.0
     Toro Rosso        67.0
     Williams         257.0
2016 Ferrari          398.0
     Force India      173.0
     Haas F1 Team      29.0
     Manor Marussia     1.0
     McLaren           76.0
     Mercedes         765.0
     Red Bull         468.0
     Renault            8.0
     Sauber             2.0
     Toro Rosso        63.0

In [99]:
df_max_ham_total

    year forename     surname  points  wins
0   2015    Lewis    Hamilton   381.0    10
1   2015      Max  Verstappen    49.0     0
2   2016    Lewis    Hamilton   380.0    10
3   2016      Max  Verstappen   204.0     1
4   2017    Lewis    Hamilton   363.0     9
5   2017      Max  Verstappen   168.0     2
6   2018    Lewis    Hamilton   408.0    11
7   2018      Max  Verstappen   249.0     2
8   2019    Lewis    Hamilton   413.0    11
9   2019      Max  Verstappen   278.0     3
10  2020    Lewis    Hamilton   347.0    11
11  2020      Max  Verstappen   214.0     2
12  2021    Lewis    Hamilton   385.5     8
13  2021      Max  Verstappen   388.5    10
14  2022    Lewis    Hamilton   233.0     0
15  2022      Max  Verstappen   433.0    15
16  2023    Lewis    Hamilton   217.0     0
17  2023      Max  Verstappen   530.0    19
18  2024    Lewis    Hamilton   207.0     2
19  2024      Max  Verstappen   399.0     9

In [97]:
vers

   year forename     surname  points  wins
0  2015      Max  Verstappen    49.0     0
1  2016      Max  Verstappen   204.0     1
2  2017      Max  Verstappen   168.0     2
3  2018      Max  Verstappen   249.0     2
4  2019      Max  Verstappen   278.0     3

In [98]:
ham

   year forename   surname  points  wins
0  2007    Lewis  Hamilton   109.0     4
1  2008    Lewis  Hamilton    98.0     5
2  2009    Lewis  Hamilton    49.0     2
3  2010    Lewis  Hamilton   240.0     3
4  2011    Lewis  Hamilton   227.0     3